# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Streamlit specific
.streamlit/

# Models / Large Data
# (Sebaiknya model Keras yang besar tidak di-push ke Github. Teman Anda bisa mengunduhnya secara terpisah dari GDrive/sumber lain)
models/*.keras
models/*.h5
models/*.pb

# MacOS
.DS_Store

# Windows
Thumbs.db
